body {
  display: flex;
  align-items: center;
  background: #37474F;
  font-family: font-family: 'Libre Baskerville', serif;;
  color: #cfd8dc;
  justify-content: center;
  font-size: 100px;
  background-image: url("/images/gravity.jpg");  
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-box {
  text-align: center;
}

a {
  color: azure;
}

.field {
  margin: 10px;
}

input {
  font-family: Arial;
  font-size: 20px;
  border: none;
  background: #1c232636;
  color: #CFD8DC;
  padding: 7px;
  border: #4c5a61 solid 2px;
  width: 300px;
}

.submit-btn {
  width: 100%
}

.title {
  margin: 10px 0px 20px 10px
}

#error-message {
  color: #E91E63;
  display: block;
  margin: 10px;
  font-size: large;
  max-width: fit-content;
}